<!DOCTYPE html>

<html>

<head>
    <meta name="description"
        content="Simple Image Resizer is a powerful image resizer that you can use online. Easily resize your photographs, photos, and scanned documents without sacrificing quality.!">
    <meta name="keywords"
        content="Online Image Resizer, Simple Image Resizer, Online Image Compressor, Simple Image Compressor, Simple Image Optimizer, Online Phot Editor, Resize Image, Reduce Dimension, Edit Photo, Rotate Image">

    <title>Image Compressor, Rotate, Optimizer, Editor</title>
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-217241624-1">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-217241624-1');
    </script>
</head>

<body>
    {{>header}}
    <div class="container">
        <div class="ad-content">

        </div>
        <div class="ad-container">

        </div>
        <div class="image-compression-details">
            <h3 class="detail-title">About Us...</h3>
            <aside>
                Image resizer for free is an online application to perform image editing operation on uploaded picture
                with minimum clicks.
                We do not store any user information as technology that we are using is browser based and we do not need
                to capture any detail while performing operation.
                We provide three different type of operations which are listed below.
            </aside>
            <ul>
                <li style="margin-bottom: 10px;"> <a href="/">Compressor</a></li>
                <li style="margin-bottom: 10px;"> <a href="/resize">Resizer</a></li>
                <li style="margin-bottom: 10px;"> <a href="/rotate">Rotate</a></li>
            </ul>
        </div>
    </div>
    {{>footer}}
</body>

</html>