<!DOCTYPE html>

<html>

<head>
    <title>Image Compressor, Rotate, Optimizer, Editor</title>
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2078364019879861"
        crossorigin="anonymous"></script>
</head>

<body>
    {{>header}}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2078364019879861"
        crossorigin="anonymous"></script>
    <!-- about_1 -->
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2078364019879861" data-ad-slot="5857273860"
        data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <div class="container">
        <div class="ad-content">

        </div>
        <div class="ad-container">

        </div>
        <div class="image-compression-details">
            <script async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2078364019879861"
                crossorigin="anonymous"></script>
            <!-- about_2 -->
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2078364019879861"
                data-ad-slot="5321237189" data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <h3 class="detail-title">About Us...</h3>
            <aside>
                Image resizer for free is an online application to perform image editing operation on uploaded picture
                with minimum clicks.
                We do not store any user information as technology that we are using is browser based and we do not need
                to capture any detail while performing operation.
                We provide three different type of operations which are listed below.
            </aside>
            <ul>
                <li style="margin-bottom: 10px;"> <a class="active" href="/">Compressor</a></li>
                <li style="margin-bottom: 10px;"> <a href="/resize">Resizer</a></li>
                <li style="margin-bottom: 10px;"> <a href="/rotate">Rotate</a></li>
            </ul>
            <script async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2078364019879861"
                crossorigin="anonymous"></script>
            <!-- about_3 -->
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2078364019879861"
                data-ad-slot="5648540247" data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
    {{>footer}}
</body>

</html>