<!DOCTYPE html>

<html>

<head>
    <title>Image Compressor</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/browser-image-compression@1.0.17/dist/browser-image-compression.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <form>
            <div style="width: 60vw;">
                <input type="file" id="upload" style="margin-left: 125px;width: 30vw;">
                <button style="float: right;">Preview</button>
            </div>
            <div class="control">
                <span style="margin-right: 85px;">MaxSizeMB:</span><input id="fileSize" type="number" value="1">
            </div>
            <div class="control">
                <span style="margin-right: 35px;">MaxWidthOrHeight:</span> <input id="maxWidthOrHeight" value="1024">
            </div>
        </form>
    </div>
    <div class="image-container">
        <div class="input-output-container input-preview">
            <img id="input-image" />
            <span class="size" id="input-size"></span>
        </div>
        <div class="input-output-container output-preview">
            <img id="output-image" />
            <span class="size" id="output-size"></span>
        </div>
    </div>
    <div class="image-compression-details">
        <h3 class="detail-title">What is image compression?</h3>
        <aside>Image compression is an application of data compression that encodes the original image with few bits.
            The objective of image compression is to reduce the redundancy of the image and to store or transmit data in
            an efficient form.</aside>
        <p>At its core, image compression is when you remove or group together certain parts of an image file in order
            to reduce its size. Why do that? Here are a few reasons.</p>
        <ul style="width: 50vw;">
            <li style="margin-bottom: 10px;">For website optimization. Sites with uncompressed images can take longer to load, and can cause your
                visitors to bounce because of this.</li>
            <li style="margin-bottom: 10px;">For reducing the storage impact on your hard drive.
            </li>
            <li style="margin-bottom: 10px;">For sending and uploading images. Uploading an uncompressed image can take a while, and some email
                servers have a file size limit.</li>
        </ul>

    </div>
    {{>footer}}
    <script src="/js/compressor.js"></script>
</body>

</html>