<!DOCTYPE html>

<html>

<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2078364019879861"
        crossorigin="anonymous"></script>
    <title>Image Compressor</title>
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/browser-image-compression@1.0.17/dist/browser-image-compression.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    {{>header}}
    <div class="container">
        <div class="main-content">
            <form>
                <div class="control">
                    {{!-- <input type="file" id="upload"> --}}
                    <div class="file-input">
                        <input type="file" id="upload" class="file">
                        <label for="upload">
                            Select file
                        </label>
                    </div>
                </div>
                <div class="control" style="padding: 0 0 0 10px;">
                    <p class="file-name"></p>
                </div>
                <div class="control">
                    <span style="margin-right: 65px;">MaxSizeMB:</span><input id="fileSize" type="number" value="1">
                </div>
                <div class="control">
                    <span style="margin-right: 15px;">MaxWidthOrHeight:</span> <input type="number"
                        id="maxWidthOrHeight" value="1024">
                </div>
                <div class="control" id="controlBtns">
                    <button>Preview</button>
                </div>

            </form>
        </div>
        <div class="image-container">
            <div class="input-output-container input-preview">
                <span class="size" id="input-size"></span>
                <img id="input-image" />
            </div>
            <div class="input-output-container output-preview">
                <span class="size" id="output-size"></span>
                <img id="output-image" />
            </div>
        </div>
        <div class="image-compression-details">
            <h3 class="detail-title">What is image compression?</h3>
            <aside>Image compression is a type of data compression in which the original image is encoded with a small number of bits.
               The goal of picture compression is to eliminate image redundancy and store or transfer data in a more efficient manner.</aside>
            <p>Picture compression is the process of removing or grouping together particular sections of an image file in order to minimize its size. Why do that? Here are a few reasons.</p>
            <script async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2078364019879861"
                crossorigin="anonymous"></script>
            <ins class="adsbygoogle" style="display:block; text-align:center;" data-ad-layout="in-article"
                data-ad-format="fluid" data-ad-client="ca-pub-2078364019879861" data-ad-slot="1922948037"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <ul>
                <li style="margin-bottom: 10px;">For the purpose of website optimization. Uncompressed pictures can lead your visitors to bounce if they take too long to load.</li>
                <li style="margin-bottom: 10px;">For reducing the storage impact on your hard drive.
                </li>
                <li style="margin-bottom: 10px;">For the purpose of sending and uploading photos. Uploading an uncompressed image can take a long time, and some email services have a file size limit.</li>
            </ul>

        </div>
    </div>
    {{>footer}}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2078364019879861"
        crossorigin="anonymous"></script>
    <!-- image-compressor-ad_1 -->
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2078364019879861" data-ad-slot="7151223982"
        data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <script src="/js/compressor.js"></script>
</body>

</html>