<!DOCTYPE html>

<html>

<head>
    <title>Free Image Processing</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/camanjs/4.0.0/caman.full.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <iframe src="https://codepen.io/bradtraversy/full/qoJZBy" style="height: 60vh; width: 95vw"></iframe>


    </div>
    <div class="image-compression-details">
        <h3 class="detail-title">What is CamanJS?</h3>
        <aside>
            CamanJS is (ca)nvas (man)ipulation in Javascript. It's a combination of a simple-to-use interface with
            advanced and efficient image/canvas editing techniques.
        </aside>
        <aside>
            CamanJS is very easy to extend with new filters and plugins, and it comes with a wide array of image editing
            functionality, which continues to grow. It's completely library independent and works both in NodeJS and the
            browser.

        </aside>
    </div>
    {{>footer}}

    <script src="/js/free-editor.js"></script>
</body>

</html>