<!DOCTYPE html>

<html>

<head>
    <title>Free Image Processing</title>
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    {{>header}}
    <div class="container">
        <div class="main-content">
            <form>
                <div class="control">
                    {{!-- <input type="file" id="upload"> --}}
                    <div class="file-input">
                        <input type="file" id="upload" class="file">
                        <label for="upload">
                            Select file
                        </label>
                    </div>
                </div>
                <div class="control" style="padding: 0 0 0 10px;">
                    <p class="file-name"></p>
                </div>
                <div class="control">
                    <span style="margin-right: 50px">Width:</span><input id="width" type="number" value="100">
                </div>
                <div class="control">
                    <span style="margin-right: 45px">Height:</span> <input id="height" type="number" value="100">
                </div>
                <div class="control" id="controlBtns">
                    <button>Resize</button>
                </div>
            </form>

        </div>
        <div class="image-container">
            <div class="input-output-container output-preview">
                <img id="output-image" />
            </div>
        </div>
        <div class="image-compression-details">
            <h3 class="detail-title">What is image resizing?</h3>
            <aside>
                Resizing is the process of changing the size of an image without cutting anything out. When you resize an image, you're just changing the file size. Because size does matter on occasion.
            </aside>
            <aside>
               Resizing your photo might make it fit into a specific area on a screen, such as a blog or social network post. Smaller photographs weigh less than larger ones, which might help speed up the uploading process or free up storage space on your devices.
            </aside>
        </div>
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>