<!DOCTYPE html>

<html>

<head>
    <title>Free Image Processing</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}


    </div>
    <div class="image-container">
        <div class="input-output-container output-preview">
            <img id="output-image" />
        </div>
    </div>
    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>
