<!DOCTYPE html>

<html>

<head>
    <title>Online Image Resizer</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Simple Image Resizer is a powerful image resizer that you can use online. Easily resize your photographs, photos, and scanned documents without sacrificing quality.!">
    <meta name="keywords"
        content="Online Image Resizer, Simple Image Resizer, Online Image Compressor, Simple Image Compressor, Simple Image Optimizer, Online Phot Editor, Resize Image, Reduce Dimension, Edit Photo, Rotate Image">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2078364019879861"
        crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-217241624-1">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-217241624-1');
    </script>
</head>

<body>
    {{>header}}
    <div class="container">
        <div class="main-content">
            <header style="text-align: center;">
                <h1>
                    Online Image Resizer
                </h1>
            </header>
            <form>
                <div class="control">
                    {{!-- <input type="file" id="upload"> --}}
                    <div class="file-input">
                        <input type="file" id="upload" class="file">
                        <label for="upload">
                            Select Image
                        </label>
                    </div>
                </div>
                <div class="control" style="padding: 0 0 0 10px;">
                    <p class="file-name"></p>
                </div>
                <div class="control">
                    <span style="margin-right: 50px">Width:</span><input id="width" type="number" value="100">
                </div>
                <div class="control">
                    <span style="margin-right: 45px">Height:</span> <input id="height" type="number" value="100">
                </div>
                <div class="control" id="controlBtns">
                    <button>Resize Now</button>
                </div>
            </form>
            <div class="how-to">
                <h2 class="">How to resize images?</h2>
                <ol class="">
                    <li> Click on the "Select Image" button to select JPG, JPEG, or PNG files.</li>
                    <li> Then enter dimension in pixel.</li>
                    <li> Then click on the "Resize Now" button to start resizing your images.</li>
                    <li> Click the "Download" button to save your resized image.</li>
                </ol>
            </div>
        </div>
        <div class="image-container">
            <div class="input-output-container output-preview">
                <img id="output-image" />
            </div>
        </div>
        <script async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2078364019879861"
            crossorigin="anonymous"></script>
        <!-- resize_1 -->
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2078364019879861"
            data-ad-slot="6048845552" data-ad-format="auto" data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <div class="image-compression-details">
            <script async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2078364019879861"
                crossorigin="anonymous"></script>
            <ins class="adsbygoogle" style="display:block; text-align:center;" data-ad-layout="in-article"
                data-ad-format="fluid" data-ad-client="ca-pub-2078364019879861" data-ad-slot="4718601950"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <h3 class="detail-title">What is image resizing?</h3>
            <aside>
                Resizing is the process of changing the size of an image without cutting anything out. When you resize
                an image, you're just changing the file size. Because size does matter on occasion.
            </aside>
            <aside>
                Resizing your photo might make it fit into a specific area on a screen, such as a blog or social network
                post. Smaller photographs weigh less than larger ones, which might help speed up the uploading process
                or free up storage space on your devices.
            </aside>
        </div>
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>