<!DOCTYPE html>

<html>

<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2078364019879861"
        crossorigin="anonymous"></script>
    <title>Free Image Processing</title>
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    {{>header}}
    <div class="container">
        <div class="main-content">
            <form>
                <div class="control">
                    {{!-- <input type="file" id="upload"> --}}
                    <div class="file-input">
                        <input type="file" id="upload" class="file">
                        <label for="upload">
                            Select file
                        </label>
                    </div>
                </div>
                <div class="control" style="padding: 0 0 0 10px;">
                    <p class="file-name"></p>
                </div>
                <div class="control">
                    <span style="margin-right: 85px">Degree:</span><input id="rotate" type="number" value="10">
                </div>
                <div class="control">
                    <span style="margin-right: 10px">Background Color:</span><input id="backgroundColor" value="black">
                </div>
                <div class="control" id="controlBtns">
                    <button>Rotate</button>
                </div>
            </form>

        </div>
        <div class="image-container">
            <div class="input-output-container output-preview">
                <img id="output-image" class="output-image" />
            </div>
        </div>
        <div class="image-compression-details">
            <h3 class="detail-title">What is image rotation?</h3>
            <aside>
                When it comes to an image or image editor, rotate refers to a feature that allows you to rotate an image clockwise or counterclockwise. Many editors, for example, allow you to rotate photos by 90, 180, or 270 degrees. </aside>
        </div>
    </div>
    {{>footer}}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2078364019879861"
        crossorigin="anonymous"></script>
    <!-- image-rotate-ad_1 -->
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2078364019879861" data-ad-slot="5698541519"
        data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <script src="/js/rotate.js"></script>
</body>

</html>