<div style="height: 3vh;
    background-color: black;
    box-shadow: 2px 2px 10px #6a6765;"></div>
<div class="footer">
    <a class="active" href="/">Compressor</a>
    <a href="/resize">Resizer</a>
    <a href="/rotate">Rotate</a>
    <a href="/free-editor" style="border: none;">Caman Editor</a>
    <a href="/about" style="border: none;">About</a>
    <a href="/privacy-policy" style="border: none;">Privacy Policy</a>
</div>