{{!-- <header>
    <h1>{{title}}</h1>
    <a href="/">Image Compressor</a>
    <a href="/resize">Image Resizer</a>
    <a href="/help">Help</a>
</header> --}}
<div class="header">
  <a href="/" class="logo">Free Image Processing</a>
  <div class="header-right">
    <a class="active" href="/">Compressor</a>
    <a href="/resize">Resizer</a>
    <a href="/rotate">Rotate</a>
    <a href="/help">Help</a>
  </div>
</div>