{{!-- <header>
    <h1>{{title}}</h1>
    <a href="/">Image Compressor</a>
    <a href="/resize">Image Resizer</a>
    <a href="/help">Help</a>
</header> --}}
<div class="header">
  <div class="app-logo"></div>
  <div class="header-right">
    <a id="compressor" href="/">Image Compressor</a>
    <a id="resize" href="/resize">Image Resizer</a>
    <a id="rotate" href="/rotate">Image Rotate</a>
    <a id="editor" href="/free-editor">Caman Editor</a>
    <a id="about" href="/about" style="border: none;">About</a>
  </div>
</div>
<span id="title_val" style="visibility: hidden;">{{title}}</span>
 <script src="/js/header.js"></script>